// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List

/// Theme colors
$primary: #d71819 !default;
$secondary: #34495E !default;

$primary-mid: lighten($primary, .8);
$primary-light: lighten($primary, .5);
$white: white;

//greys
$dark-grey: #3d4750;
$mid-dark-grey: #58636e;
$mid-grey: #8b9dae;
$mid-light-grey: #cdd5dc;
$light-grey: #eff3f4;
$asean-grey: #f2f2f4;

//Contrast colors
$contrasted-dark-default: $dark-grey !default;
$contrasted-light-default: white !default;

$green                 : #27ae60;
$blueDark              : #00558b;
$yellowDark            : #e49701;
$teal                  : #3a6f81;
$yellow                : #f1c40f;

//blue
$blue: #57a8e9;
$light-blue: #bce4fe;

//green success
$green: #9cbc71;
$light-green: #acd373;

///State colors
$success: $green !default;
$warning: #e5c34a !default;
$error: $primary-light !default;
$info:  #78c9cf !default;

//buttons and links
$link-color: $blue;
$link-hover: $light-blue;
$btn-main: $primary;


/// Copy text color
/// @type Color
$text-color: $dark-grey !default;

/// Light grey
/// @type Color
$light-grey: #ecf0f1 !default;

/// Medium grey
/// @type Color
$mid-grey: #99a3a8 !default;

/// Dark grey
/// @type Color
$dark-grey: #3d3d3d !default;

/// Main brand color
/// @type Color
$brand-color: $primary !default;
$brand-accent: $light-grey !default;

/// Container's maximum width
/// @type Length
$max-width: 1100px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'extra-small': 320px,
  'small': 640px,
  'medium': 768px,
  'large': 960px, // =1920/2, the-one-true-resolution
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
$base-url-fonts: #{$base-url}/fonts !default;


//typography
$font-stack: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;


//inputs
$input-bg: $light-grey;
$input-border: $mid-light-grey;
$input-bg-hover: $mid-light-grey;
$input-border-hover: $mid-grey;
$input-bg-focus: $light-blue;
$input-border-focus: $blue;

//tables
$table-head: $mid-light-grey;
$table-even-row: $light-grey;
$table-row-hover: #fff5d2;

$sidebar-bg: #59636d;
$sidebar-dropdown: $dark-grey;

// blog
$site-heading-color: #0d1a26;
$site-text-color: #314659;
$site-text-color-secondary: #697b8c;
$site-border-color-split: #ebedf0;

// Base background color for most components
$font-size-base: 12px;
$border-radius-sm: 1px;
