.ant-layout-header,
.ant-layout-footer {
  background: #7dbcea;
  color: #fff;
}

.ant-layout-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
}

.ant-layout-content {
  min-height: 120px;
  line-height: 120px;
}
